<footer class="ae-container-fluid rk-footer">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item">
          <a routerLink="/about" class="rk-menu__link">¿Quién soy?</a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="/contact-us" class="rk-menu__link">¿Cómo puedo ayudarte?</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy">
        <span class="ae-u-bold">© </span
        ><span class="ae-u-bolder">{{ anio }} {{ _servicio.info.titulo }} PORTFOLIO </span> <br>All Right
        Reserved.
      </p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a target="_blank" [href]="_servicio.info.facebook" class="rk-social-btn">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      
      <a target="_blank" [href]="_servicio.info.twitter" class="rk-social-btn">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>

      <a target="_blank" [href]="_servicio.info.instagram" class="rk-social-btn">
        <svg>
          <use
            xlink:href="assets/img/symbols.svg#icon-pinterest"
          ></use>
        </svg>
      </a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact">
        <span class="ae-u-bold">Email: </span>
        <span class="ae-u-bolder">
          <a target="_blank" href="mailTo:{{ _servicio.info.email }}" class="rk-dark-color"
            >{{ _servicio.info.email }}
          </a>
        </span>
      </p>
      <p class="rk-footer__text rk-footer__by">
         Design by: <a [href]="_servicio.info.pagina_autor" class="ae-u-bolder">{{ _servicio.info.autor }}</a>
      </p>
    </div>
  </div>
</footer>
